*{
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    --smoothanimation: cubic-bezier(.215, .61, .355, 1);
    --animation: var(--smoothanimation);
}

body {
    background-color: var(--primary-color) !important;;
    transition: background-color 0.5s, color 0.5s;
    cursor: none;
}

.circle {
    
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
  }


.dark-theme {
    --primary-color: #120838 !important;
    --secondary-color: white !important;
    --shadow-color: rgba(0, 0, 0, .2) !important;; 
    --fifth-color: linear-gradient(to right, rgba(255,255,255,0) 100%,
    rgba(255,255,255,1) 100%) !important;; 
}

section:target {
    outline: none; /* Désactive les bordures ou lignes automatiques */
    border: none;
    margin-top: 0; /* Empêche tout décalage visuel */
}

#icon {
    cursor: pointer;
}

@font-face {
    font-family: Dm;
    src: url(DmSans.ttf);
}

:root {
    --primary-color: #fff;
    --secondary-color: #120838;
    --third-color: #3a1ea1;
    --shadow-color: rgba(0, 0, 0, .2);
    --main-color: #f48b5e;
    --quart-color: 187, 107, 252;
    --fifth-color: linear-gradient(to right, rgba(255,255,255,0) 0%,
        rgba(255,255,255,0) 100%);
    --sixth-color: linear-gradient(to right, rgba(255,255,255,0) 0%,
    rgba(255,255,255,1) 100%);  

    --1m: 8px;
    --2m: calc(2* var(--1m));
    --3m: calc(3* var(--1m));
    --4m: calc(4* var(--1m));
    --5m: calc(5* var(--1m));
    --6m: calc(6* var(--1m));
    --7m: calc(7* var(--1m));

    --gray-500-rgb: 60, 60, 65;
    --gray-500: rgb(var(--gray-500-rgb));
    --gray-500-light: rgb(var(--gray-500-rgb), var(--light));
    --gray-500-lighter: rgb(var(--gray-500-rgb), var(--lighter));

    --secondary-rgb: 187, 107, 252;
    --secondary: rgb(var(--secondary-rgb));

}

nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
    height: 70px;
}

nav #marker {
    position: absolute;
    left: 0;
    height: 4px;
    width: 0;
    background: #000;
    bottom: -8px;
    transition: 0,5s;
    border-radius: 4px;
}

.nav-link {
    text-decoration: none;
    color: black;
    position: relative;
    padding: 5px;
}

.navv .nav-link:hover {
    color: var(--secondary-color) !important; /* Force la couleur blanche au survol */
}


.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.container {
   /* border-bottom: 2px solid #000000; /* Ligne de séparation */
}

.container ul {
    display: flex;
    justify-content: center;
    margin-left: 67%;
    list-style: none;
}

.container a {
    margin: 0px 30px;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 800;
    text-decoration: none;
    
}

.container img {
    width: 40px;
    margin-left: 20px;
    margin-top: -10px;
}

@media (max-width: 768px) {
.nav-links {
display: none; /* A remplacer par un menü burger plus tard */
    }
}

.pres{
   opacity: 0;
   transition: 1s ease;
}

.pres--visible {
    
    opacity: 1;
}

.pres h1{
    font-size: 70px;
    margin-left: 200px;
    color: var(--secondary-color);
}

.image {
    float: right;
    margin-top: -400px;
    width: 500px; /* Taille de l'image */
}


.pres p{
    margin-left: 200px;
}

.np p{
    font-family: "Montserrat", serif;
    color: var(--secondary-color);
    font-optical-sizing: auto;
    letter-spacing: 5px;
    margin-top: 100px;
    
}

hr {
    border: none;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
}

.ptfl p{
    color: var(--secondary-color);
    line-height: 80px;
    margin-top: 30px;
    font-size: 70px;
}

#coloring {
    color: var(--third-color);
}

.phraseintro p{
    margin-top: 20px;
    font-size: 20px;
    color: var(--secondary-color);
    line-height: 30px;
}

.bouttoncv{
display: flex;
gap: 50px;
}

.bouttoncv p{
    margin-left: -20px;
    
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    color: var(--secondary-color);
}

.scroll p {
    margin-top: 20px;
}

.bouttoncv button {
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: var(--secondary-color);
    margin-left: 200px;
}

.bouttoncv span {
font-size: 15px;
font-weight: 700;
}

#coloring2 {
    color: var(--primary-color);
}

.aboutsection {
 /* background: linear-gradient(180deg, #ebeefd, #8da0e2, #576ec1); */
  height: 100%;
  
  margin: 0;

  
}

.imgg {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    animation: scroll 20s linear infinite;
    overflow: hidden;
}



@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(calc(-250px * 10));
    }
}

.slide {
    perspective: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    padding: 15px;
    overflow: hidden;
    
}

.imgg img:hover {
    transform: translateZ(20px);
}

.imgg::before,
.imgg::after {
   background: var(--fifth-color);
   content: '';
   height: 100%;
   position: absolute;
   width: 15%;
   z-index: 2;
}

.imgg::before {
    left: 0;
    top: 0;
}
.imgg::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.imgg img{
margin-top: 40px;
margin: 20px;
transition: transform 1s;
}

.np2 p{
    font-family: "Montserrat", serif;
    color: var(--secondary-color);
    font-optical-sizing: auto;
    letter-spacing: 5px;
    text-align: center;
}

.presproj {
   text-align: center;
   opacity: 0;
   transition: 1s ease;
}
.presproj--visible {
    text-align: center;
    opacity: 1;
 }

.presproj p{
    text-align: center;
    margin-top: 0px;
    
}

.titreal p{
    margin-top: 0px;
    font-size: 60px;
    color: var(--secondary-color);
}

.phraseintro2 p{
    font-size: 20px;
    
    color: var(--secondary-color);
}

.card .content {
    position: relative;
    width: 50%;
    margin-right: 300px;
    margin-top: 75px;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.pp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 290px;
    
}


.card:hover .content {
    opacity: 1;
    visibility: visible;
    left: 0%;
}

.card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}

.card .content p {
    color: #fff;
    
}

.card .content a {
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 30px;
    text-decoration: none;
    
}


.card .content img {
    width: 40px  !important;
    height: 40px !important;
}

.card2 .content img {
    width: 40px  !important;
    height: 40px !important;
}

.card3 .content img {
    width: 40px  !important;
    height: 40px !important;
}

.card4 .content img {
    width: 40px  !important;
    height: 40px !important;
}

#photoshop {
    margin-left: -82px;
    margin-bottom: 75px;
}

#photoshop2 {
    margin-left: -145px;
    margin-bottom: 75px;
}


#photoshop3 {
    margin-left: -100px;
    margin-bottom: 75px;
}

#photoshop4 {
    margin-left: -175px;
    margin-bottom: 75px;
}

#illustrator {
    margin-bottom: 75px;
    margin-left: -57px;
}

#illustrator2 {
    margin-bottom: 75px;
    margin-left: -132px;
}

.cardd {
    position: relative;
    width: 900px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 90px;
    background-image: url(images/maillot.jpg);
    background-size: cover; /* Remplit l'élément sans déformation */
  }

  .cardd .content {
    position: relative;
    width: 50%;
    margin-right: 300px;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
  
  .cardd img {
      position: absolute;
      bottom: 0;
      left: 60%;
      transform: translateX(-50%);
      height: 400px;
      transition: 0.5s;
  }
  
  .cardd:hover img {
      left: 110%;
      height: 500px;
  }


  .cardd:hover .content {
    opacity: 1;
    visibility: visible;
    left: 0%;
}

.cardd .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}

.cardd .content p {
    color: #fff;
    
}

.cardd .content a {
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 10px;
    text-decoration: none;
    
}



.card2 .content {
    position: relative;
    width: 50%;
    margin-right: 300px;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}


.card2:hover .content {
    opacity: 1;
    visibility: visible;
    left: 0%;
}

.card2 .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}

.card2 .content p {
    color: #fff;
    
}

.card2 .content a {
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 30px;
    text-decoration: none;
    
}

.card2 img {
    position: absolute;
    bottom: 0;
    left: 60%;
    transform: translateX(-50%);
    height: 500px;
    transition: 0.5s;
}

.card2:hover img {
    left: 100%;
    height: 550px;
}




.card3 .content {
    position: relative;
    width: 50%;
    margin-right: 300px;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}


.card3:hover .content {
    opacity: 1;
    visibility: visible;
    left: 0%;
}

.card3 .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}

.card3 .content p {
    color: #fff;
    
}

.card3 .content a {
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 30px;
    text-decoration: none;
    
}

.card3 img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    transition: 0.5s;
}

.card3:hover img {
    left: 80%;
    height: 450px;
}



.card4 .content {
    position: relative;
    width: 50%;
    margin-right: 300px;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}


.card4:hover .content {
    opacity: 1;
    visibility: visible;
    left: 0%;
}

.card4 .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}

.card4 .content p {
    color: #fff;
    
}

.card4 .content a {
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 30px;
    text-decoration: none;
    
}

.card4 img {
    position: absolute;
    bottom: 0;
    left: 70%;
    transform: translateX(-50%);
    height: 380px;
    transition: 0.5s;
}

.card4:hover img {
    left: 105%;
    height: 420px;
}







  .card5 .content {
    position: relative;
    width: 50%;
    margin-right: 300px;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}


.card5:hover .content {
    opacity: 1;
    visibility: visible;
    left: 0%;
}

.card5 .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}

.card5 .content p {
    color: #fff;
    
}

.card5 .content a {
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 10px;
    text-decoration: none;
    
}

.card5 img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 380px;
    transition: 0.5s;
}

.card5:hover img {
    left: 85%;
    height: 420px;
}


.menu-icon {
    display: none;
}

.menu-icon i {
    color: var(--secondary-color);
    font-size: 30px;
   
}




 /*
<div class="imgg">
        
<div class="slide-track">
<div class="slide"><img src="images/adobephotoshop.png" alt="" width="40%">
</div>
<div class="slide"><img src="images/adobeillustrator.png" 
    alt="" width="40%"></div>
<div class="slide"><img src="images/adobepremierepro.png" 
    alt="" width="40%"></div>
<div class="slide">  <img src="images/aftereffect.png" alt="" width="40%">
</div>
<div class="slide"><img src="images/figma.png" alt="" width="40%">
</div>
<div class="slide"><img src="images/javascript.png" alt="" width="40%">
</div>
<div class="slide"><img src="images/html.png" alt="" width="40%">
</div>
<div class="slide"><img src="images/css.png" alt="" width="40%">
</div>


</div>   */
